@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap");
@import url('//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

@keyframes hover_nav {
    from {
        width: 0%;
        left: 50%;
    }
    to {
        width: 100%;
        left: 0%;
    }
}

/*mobile-first*/

body {
    font-size: 14px;
    position: relative;
    width: 100%;
    height: auto;
}

/*---414px mobile-header + desk header---*/

#wrap #header #desk_nav {
    display: none;
}

#wrap #header {
    font-size: 7.246vw;
}

#mobile_nav .top_gnb {
    display: block;
    width: 100%;
    background: #0058a3;
    color: white;
    height: 9.662vw;
    overflow: hidden;
}

.top_gnb label:nth-child(1) {
    display: block;
    float: left;
    color: white;
    line-height: 8.937vw;
    background: #073158;
    padding: 3px;
    /* padding: 0.725vw; */
}

.top_gnb a:nth-child(2) {
    text-indent: -9999px;
    display: block;
    width: 12.319vw;
    height: 9.179vw;
    float: left;
    background: url(img/ikea_logo.png) center center no-repeat;
    background-size: 200%;
    margin-left: 8px;
}

.top_gnb a:nth-child(3) {
    display: block;
    float: right;
    color: white;
    text-align: right;
    line-height: 8.937vw;
    padding: 3px;
    /* padding: 0.725vw; */
}

/*mobile-header-pannel*/

input[type="checkbox"] {
    display: none;
}

.panel_wrap {
    z-index: 2 !important;
    margin-top: 9.662vw;
    width: 80%;
    height: calc(100% - 9.662vw);
    font-size: 16px;
    font-weight: bold;
    text-indent: 5.797vw;
    background: #ffdb00;
    border-radius: 0 6.763vw 6.763vw 0;
    box-shadow: 0.483vw 0.483vw 3.865vw #00000056;
    position: absolute;
    transition: 0.5s;
    top: 0;
    left: -100%;
}

.panel_wrap #content_box ul li a {
    display: block;
    padding: 16px;
    /* padding: 3.865vw; */
    color: #00203b;
}

#content_box ul li:active {
    transition: 0.5s;
    box-shadow: 0 1px 6px #a57100c2;
}

#panel_wrap:checked ~ .panel_wrap {
    left: 0;
    top: 0;
}

.panel_wrap .panel_top {
    display: flex;
    justify-content: flex-end;
    padding: 3.865vw;
}

/*------contents-------*/

/*banner*/

.banner {
    margin-bottom: 50px;
}

.banner_title {
    margin-bottom: 40px;
}

.banner_title > * {
    line-height: 1.5;
    font-weight: bold;
}
.banner_title > h2 {
    font-size: 20px;
}
.banner_title .more_button {
    display: inline-block;
    background: #ffdb00;
    position: relative;
    color: #0058a3;
    font-size: 16px;
    box-sizing: content-box;
    margin: 3px auto;
    padding: 3px 12px;
    border-radius: 4.39vw;
    bottom: 0;
}

.banner_title .more_button:active {
    bottom: -3px;
}

/*slide + innermenu*/

div.index_banner_wrap {
    position: relative;
}
div.banner_0 {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 70px !important;
}

div.banner_0 div img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

div.innermenu {
    display: none;
}

/*recomend items*/

#contents .banner_title {
    text-align: center;
    margin-bottom: 20px;
}

div.banner_1 {
    width: 100%;
    padding-bottom: 18px;
    /* padding-bottom: 4.348vw; */
}

div.banner_1 h1 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

div.banner_1 p {
    color: #555;
    line-height: 1.25;
}
div.banner_list {
    margin: 120px auto;
    width: 1290px;
}
div.banner_list ul {
    display:flex;
    flex-direction:row;
}
div.banner_list li {
    flex:1;
}
div.banner_list li + li{
    margin-left:70px;
}
div.banner_list li a {
    display:flex;
    flex-direction:column;
}
div.banner_list li .img{
    width:270px;
    height:270px;
}
div.banner_list li .img img{
    margin: 0;
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 0;
}
div.banner_list li .con{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    padding:20px 10px;
}
div.banner_list li .con strong{
    position:relative;
    display:inline-flex;
    font-size:24px;
    font-weight:bold;
}
div.banner_list li:hover .con strong:before{
    content:'';
    position:absolute;
    z-index:-1;
    top:40%;
    left:-5px;
    right:-5px;
    bottom:0;
    background: #ffdb00;    
}
div.banner_list li .con span{
    font-size: 14px;
    font-weight: 500;
}
div.quick_list {
    margin: 120px auto;
    width: 1290px;
}

div.quick_list ul {
    display:flex;
    flex-direction:row;
}
div.quick_list li {
    flex:1;
}
div.quick_list li + li{
    margin-left: 10px;
}
div.quick_list li a {
    display:flex;
    flex-direction:column;
    align-items:center;
    background: #f5f5f5;
    padding: 40px;
    text-align: center;
}
div.quick_list li a img{
    margin: 0 0 25px 0 !important;
    width: 60px !important;
    height: auto !important;
    border-radius: 0 !important;
}
div.quick_list li a strong{
    font-size:24px;
    font-weight: bold;
    margin: 0 0 25px 0;
}
div.quick_list li a span{
    line-height: 1;
    font-size: 20px  !important;
    font-weight: 500 !important;
}
div.recomend_list{
    
}
div.recomend_list ul {
    display: flex;
    justify-content: space-evenly;
    margin-left: 8px;
    margin-right: 8px;
}

div.recomend_list ul li {
    margin: 12px auto;
}

div.recomend_list ul li img {
    display: block;
    width: 28.986vw;
}

div.recomend_list ul li span {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 8px;
}

div.recomend_list ul li:hover a {
    background: #ffdb00;
}
@media all and (max-width:1260px) {

    div.banner_list{
        margin: 60px 0;
        padding: 0 8px;
        width:100%;
    }
    div.banner_list ul{
        flex-wrap:wrap;
        margin: -5px;
    }
    div.banner_list li{
        flex:auto;
        width:50%;
        padding:5px;
    }
    div.banner_list li + li{
        margin:0;
    }
    div.banner_list li .img{
        position: relative;
        width:100%;
        padding:100% 0 0 0;
        height:auto;
    }
    div.banner_list li .img img{
        position:absolute;
        top:0;left:0;
    }
    div.banner_list li .con strong{
        font-size:14px;
    }
    div.banner_list li .con span{
        font-size:14px;
    }
    div.quick_list{
        margin: 60px 0;
        padding: 0 8px;
        width: 100%;
    }
    div.quick_list ul{
        flex-wrap:wrap;
        margin:-5px;
    }
    div.quick_list li{
        flex:auto;
        width:50%;
        padding:5px;
    }
    div.quick_list li + li{
        margin:0;
    }
    div.quick_list li a{
        padding:15px;
    }
    div.quick_list li a strong{
        margin: 0 0 10px 0;
        font-size: 16px !important;
    }
    div.quick_list li a span{
        min-height:45px;
        line-height:15px;
        font-size:14px !important;
        word-break: keep-all;
    }
    div.quick_list li a span br{
        display:none;
    }

}
@media all and (max-width:1260px) {
    .banner_2{
        padding: 0 !important;
    }
    #n-wrap{
        display:flex;
        flex-direction:column;
        padding:0 8px;
    }
    .news {
        margin-bottom:15px;
    }
    .news img {
        display:block;
        border-radius:0 !important;
        margin:0 !important;
    }
    .news .con {
        padding:15px 10px;
        text-align:left;
    }
    .news:nth-child(1) .con{
        background-color: #cbd3ea;
    }
    .news:nth-child(2) .con{
        background-color: #b9d3dc;
    }
    .news:nth-child(3) .con{
        background-color: #e1656f;
    }
    .banner_2 .con a{
        display:inline-flex;
        align-items:center;
        margin-top:25px;
    }
    .banner_2 .con a img{
        width:24px;
        height:24px;
    }
}
/*------ news modul -------*/

.banner {
    position: relative;
}

.newsShow {
    position: absolute !important;
    z-index: 1 !important;
    background: #161616;
    display: block !important;
    top: 3vw;
    left: 0;
}

div.news_modul {
    display: none;
    width: 100%;
    height: 24%;
    border-radius: 14px;
}

div.news_modul p {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.news_modul a {
    display: block;
    width: 80%;
    margin-bottom: 35px;
}

.news_modul a span {
    display: block;
    text-align: center;
    padding: 12px;
    font-weight: bold;
    background: #ffdb00;
    border-radius: 14px;
}

.news_modul video {
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 30px;
}

.news_box01 {
    position: relative;
}

.news_box01 img {
    display: block;
}
/*
.news_box01:hover {
    filter: brightness(40%);
    cursor: pointer;
}
*/

/*news*/

div.news_modul {
    display: none;
}

.news {
    text-align: center;
    margin-bottom: 37px;
}

#contents .banner_title {
    text-align: center;
    margin-bottom: 20px;
}

.banner_2 {
    padding: 22px;
    /* padding: 5.314vw; */
}

.banner_2 img {
    width: 100%;
    border-radius: 2.899vw;
    margin-bottom: 7px;
    /* margin-bottom: 1.691vw; */
    transition: 0.25s;
}

.banner_2 p b {
    font-size: 16px;
    font-weight: 700;
}

.banner_2 p {
    font-size: 14px;
}


/*--------------footer--------------*/

footer {
    background: black;
    color: white;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    /* padding: 7.246vw; */
}

.f-top {
    color: white;
    padding-bottom: 20px;
    /* padding-bottom: 4.831vw; */
}

.f-bottom {
    color: #ccc;
    padding-bottom: 20px;
}

.f-bottom span {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
    color: #ffdb00;
}

/*------ft_list------*/

.inner-list {
    margin-bottom: 33px;
}

.inner-list ul > li > a {
    display: block;
    padding: 30px 12px;
}

.inner-list ul > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-list ul > li > ol {
    display: none;
}

.inner-list ul > li > ol:target {
    display: block;
}

.inner-list ul > li > ol > li > a {
    display: block;
    background: rgb(26, 26, 27);
    padding: 14px;
}

.inner-list ul > li > ol > li > a:hover {
    color: #ffdb00;
}

/*------ft_icons------*/

.inner-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ft-icons-left {
    display: flex;
    font-size: 18px;
}

.ft-icons-left > a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    background: #444 round;
    border-radius: 50%;
    margin: 0 2px;
}

@media screen and (min-width: 1260px) {
    #mobile_nav {
        display: none;
    }
    #desk_nav {
        display: block !important;
        position: fixed;
        font-size: 16px;
        text-align: center;
        top: 0;
        right: 0;
        left: 0;
        z-index: 2;
    }
    #desk_nav .top_gnb ul {
        height: 40px;
        background: black;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    #desk_nav .top_gnb ul li a {
        font-size: 12px;
        display: block;
        color: white;
        padding: 12px;
    }
    #desk_nav .top_gnb ul li a:hover {
        color: #ffdb00;
    }
    #desk_nav .bottom_gnb ul {
        height: 56px;
        background: #ffdb00;
        box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.473);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*bottomnav*/
    #desk_nav .bottom_gnb ul li {
        flex: 1;
        position: relative;
    }
    #desk_nav .bottom_gnb ul li a {
        display: block;
        width: 100%;
        height: 100%;
        font-weight: 700;
        color: #0058a3;
        padding: 16px 0;
    }
    #desk_nav .bottom_gnb ul li:hover a::after {
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        animation: hover_nav 0.4s ease-in-out forwards;
        bottom: 0;
        background: #0058a3;
    }
    .bottom_gnb ul li:nth-of-type(1) a {
        text-indent: -9999px;
        width: 86px;
        height: 31px;
        background: #0058a3 url("/img/logo.png") center no-repeat;
        padding: 17px 0;
    }
    /* ---------- desk contents ------- */
    /* ---- banner setting --- */
    #contents .banner_title > p {
        width: 80px;
    }
    /* ----- desk slide ----- */
    .banner.banner_0 {
        width: 100%;
    }
    div.innermenu {
        position: absolute;
        background: #000000d0;
        bottom: 0;
        right: 0;
        left: 0;
        color: rgba(255, 255, 255, 0.767);
        display: flex;
        justify-content: center;
        text-align: center;
        line-height: 1.2;
        font-size: 16px;
        box-shadow: inset 8px 4px 20px black;
        border-radius: 40px 40px 0 0;
    }

    div.innermenu ol {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    div.innermenu ol li {
        border-left: 2px solid rgba(255, 255, 255, 0.096);
    }
    div.innermenu ol li:first-child {
        border-left: none;
    }
    div.innermenu ol a {
        display: block;
        padding: 40px 60px;
    }

    div.innermenu ol li:hover a {
        transition: 0.5s;
        background: black;
        box-shadow: inset 8px 4px 20px black;
        border-radius: 12px;
        color: #ffdb00;
    }
    div.innermenu i {
        display: block;
        font-size: 44px;
        margin-bottom: 10px;
    }
    /* ----- desk recomend ------- */
    .banner p {
        font-size: 14px !important;
    }
    .banner h2 {
        font-size: 24px !important;
    }
    div.banner_1 ul li span {
        font-size: 30px;
        font-weight: bold;
    }
    .banner_1 h2 {
        margin-top: 22px;
    }
    .banner_1 ul {
        flex: none;
    }
    .recomend_list {
        display: flex;
        justify-content: center;
    }
    div.banner_1 ul li img {
        width: 200px;
        width: 15.873vw;
        margin: 33px;
        border-radius: 12px;
    }
    /*------ news modul -------*/
    div.news_modul {
        display: none;
        width: 600px;
        height: 370px;
        border-radius: 14px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.45);
        left: 6vw;
        top: 8vw;
    }
    .news_modul a {
        display: block;
        margin: auto;
    }
    .news_modul a > p {
        width: auto;
        height: auto;
        text-align: center;
        font-weight: bold;
        background: #ffdb00;
        border-radius: 14px;
        margin: auto;
    }
    /*------ news-------*/
    .news {
        font-size: 14px !important;
        flex: 1 !important;
    }
    .news + .news{
        margin-left:20px
    }
    .banner_2 #n-wrap {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 90px auto;
        width:1290px;
    }
    .banner_2 h2 {
        flex: none;
    }
    .banner_2 img {
        display: block;
        width: 100%;
        margin: auto;
        margin-bottom:0;
        border-radius:0;
    }
    .banner_2 .con {
        padding:30px 20px;
        text-align:left;
    }
    .news:nth-child(1) .con{
        background-color: #cbd3ea;
    }
    .news:nth-child(2) .con{
        background-color: #b9d3dc;
    }
    .news:nth-child(3) .con{
        background-color: #e1656f;
    }
    .banner_2 .con .n1{
        height:125px;
    }
    .banner_2 .con a{
        display:inline-flex;
        align-items:center;
    }
    .banner_2 .con a img{
        width:36px;
        height:36px;
    }
    .banner_2 p b {
        font-size: 17px;
        font-weight: 700;
    }
    
    /*------ footer -------*/
    footer {
        padding: 0;
        font-size: 14px;
    }
    /*------ f-top : footer top-------*/
    .f-top {
        padding: 20px;
    }
    .inner-list {
        width: 100%;
    }
    .inner-list ul {
        width: 60%;
        margin: 0 auto;
        display: flex;
    }
    .inner-list ul li {
        flex: 1;
    }
    .inner-list ul > li > a {
        justify-content: center;
    }
    .inner-list ul > li > a i {
        display: none;
    }
    .inner-list ul > li > ol {
        display: block;
    }
    .inner-list ul > li > a {
        font-size: 18px;
    }
    .inner-list ul > li > ol > li > a {
        background: none;
        text-align: center;
        color: #ccc;
        padding: 4px;
    }
    .inner-list ul > li > ol > li > a i {
        display: none;
    }
    .inner-icons {
        justify-content: flex-end;
    }
    
    /*------ f-bottom : footer bottom-------*/
    .f-bottom {
        background: rgb(44, 44, 44);
        color: rgb(128, 128, 128);
        padding: 30px;
    }
    .f-bottom span {
        display: block;
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: bold;
        color: rgb(190, 190, 190);
    }
}

/* 슬릭 슬라이드 버튼 */
.btn_con{max-width: 1024px; margin: 0 auto; position: relative; bottom: 160px;}
.btn_con #pager{position: absolute; right: 0; bottom: 0; z-index: 99; display: flex; align-items: center; justify-content: center;}
.btn_con #pager > div{margin: 10px; cursor: pointer;}
.btn_con #pager > div i{font-size: 17px;}
.btn_con #pager .play_con .pause{display: block;}
.btn_con #pager .play_con .play{display: none;}
.btn_con #pager .graph{display: inline-block; width: 150px; height: 2px; background-color: #fff; vertical-align: middle; padding: 0; cursor: normal;}
.btn_con #pager .graph .bar{display: inline-block; height: 2px; background-color: #0058a3; vertical-align: top;}
.dis_hidden{display: none;}
@media all and (max-width:1260px) {
    .btn_con{bottom: 30px;}
}