@charset "UTF-8";

#container {background: #F2F2F2;}

.sub_header {
    position:absolute; left:0; top:0;
    width:100%; height:50px;
    z-index:5;
}
.sub_header_in {width:1170px; margin:auto;}
.sub_header .logo {}
.sub_header .sub_loc {text-align: center;}
.sub_header .sub_loc ul {display:inline-block; overflow:hidden;}
.sub_header .sub_loc li {float:left; padding-left:20px;}
.sub_header .sub_loc li + li:before{   /*선택자 A + 선택자A A 바로 뒤에 나오는 형제들을 적용시킴*/
    display:inline-block; content:"";
    background:rgba(255,255,255,0.3); 
    border-radius:50%;
    height:4px; width:4px;
    position: relative; top:-4px; margin-right:20px;
}
.sub_header .sub_loc a {display:inline-block; color:#fff; line-height:50px; font-weight:500;}

.sub_header .sub_loc li.active a { position:relative; color:#009223; font-weight:500; }
.sub_header .sub_loc li.active a:after  {
    position: absolute;
    content: "";
    bottom:0; left:0;
    width:100%; height:4px;
    background:#009223;
}

.sub_header .top {}




.sub_visual {
    position:relative;
    height:380px;
    text-align:center;
    color: #fff;
    overflow: hidden;
}

.morning {
    background:#f2b701 url(../img/bg_visual_morning.png) 50% no-repeat;
}

.sub_visual h2 {
    position: relative;
    font-family:'Hind';
    font-size:70px;
    padding:120px 0 10px 0;
    animation:toUp .5s forwards;
    opacity:0;
}
.sub_visual p {
    position: relative;
    line-height:24px;
    animation:toUp .5s 0.2s forwards;
    opacity:0;
}

.morning .img01 {
    position: absolute;
    width:508px; height:549px;
    left:50%; top:0;
    background:url(../img/img_visual_morning01.jpg);
    margin-left:360px;
    animation:upDown 1s 0.3s forwards;
    opacity:0;
}
.morning .img02 {
    position: absolute;
    left:50%; top:0;
    margin-left:-600px;
    opacity: 0;
    width:327px; height:215px;
    background:url(../img/img_visual_morning02.jpg);
    animation:toLeft 1s forwards;
}

@keyframes upDown {
    0% {top:-550px;}
    100% {top:0; opacity:1;}
}
@keyframes toLeft {
    0% {opacity:0;}
    100% {transform:translate(-100px); opacity:1;}
}

@keyframes toUp {
    0% {top:150px}
    100% {top:0; opacity:1;}
}

.pd_tab {
    position: relative; z-index:3;
    width:1170px; margin: auto; height:80px; text-align:center;
    background:#fff;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
    margin-top:-40px;
}
.pd_tab ul {display:inline-block; overflow:hidden;}
.pd_tab li {float:left; padding-left:20px; }
.pd_tab li + li:before { display:inline-block; position:relative; content:""; width:1px; height:15px; background:#d3d3d3; margin-right:20px; top:0px;}
.pd_tab li a { 
    display:inline-block; color:#666;
    line-height:80px; font-weight:500; 
}

.pd_tab li.active a { color:#009223; font-weight:700;  }

.pd_tab a {}

.sub_pdlistWrap {padding:50px 0 130px}
.sub_pdlistWrap_inner { width:1170px; margin:auto;}
.sub_pdlistWrap ul {overflow: hidden; margin-left:-30px;}
.sub_pdlistWrap li {
    position: relative;
    width:370px; height:330px;
    float:left;
    background:#fff;
    margin:30px 0 0 30px;
    text-align:center;
}

.sub_pdlistWrap li .img {width:270px; margin: auto;}
.sub_pdlistWrap li .img img {width:100%}
.sub_pdlistWrap .title {
    display:block; 
    position:relative; z-index:5;
    top:0; 
    font-size:22px; 
}
.sub_pdlistWrap .eng {
    display: block; 
    color:#666; margin:5px 0;
    letter-spacing: -0.06em;
    position:relative; z-index:5;
    top:0
}
.sub_pdlistWrap .cal {
    font-family: "Hind";
    display:block;
    color:#f2b701; 
    font-weight:700; font-size:19px;
    letter-spacing: -0.04em;
    margin-top:15px;
}   
.sub_pdlistWrap .summary {
    color:#c5e698;
    text-align:center;
    position:relative; z-index:5;
    top:-80px;
    line-height:22px;
    opacity:0;
}  
.sub_pdlistWrap .btn_view {
    position:absolute;
    top:0; left:0; 
    width:100%; height:100%;
    background: #009223 url(../img/btn_more.png) no-repeat 142px 220px ;
    opacity:0;
} 

.sub_pdlistWrap li.on .title {color:#fff; top:-130px; transition:0.3s;
}
.sub_pdlistWrap li.on .eng {color:#fff; top:-125px; transition:0.3s;
}
.sub_pdlistWrap li.on .cal {display:none;}
.sub_pdlistWrap li.on .summary {opacity:1; top:-115px;transition:0.3s 0.2s;
}
.sub_pdlistWrap li.on .btn_view {opacity:1; transition:0.7s;}