@charset "UTF-8";

@media (max-width:1023px){
.mobile {display:block;}
.pc {display:none;}

header {min-height:55px;}   
header h1 {width:85px;
            margin-left:30px;}
header h1 a {background:url('../img/toplogo.png') center center/contain no-repeat; transition:1s;}

.gnb_list_w {display:none;}

.national_list_w {width:20%;}
.nat_target {padding-left:0;
            justify-content:center;}
.nat_target_in {padding-right:15px;}

.totalmenu_w {width:20%;}
.btn_total {padding-left:0;}
.btn_total_in {display:none;}
.btn_total:before, .btn_total:after {width:28px;
                                    left:50%; top:25px;
                                    margin-left:-14px; }

/* total_menuZ */
.total_menuZ { }
.total_menuZ_in {background-size:70% auto;}
.total_menuZ h1 {display:block; 
                width:85px; height:55px;
                margin-left:30px; }
.total_menuZ h1 a {display: block;
                    width: 100%; height: 100%;
                    background: url(../img/toplogo_w.png) center center/contain no-repeat;
                    text-indent: -9999px; }

.total_menu {position:absolute;
            top:55px; left:0; bottom:0;
            width:100%; height: calc(100% - 155px);
            overflow:hidden; 
    /* overflow-y:auto;  내부에서 스크롤이 되게(iscroll.js 사용 안할때)*/}
.total_list {position:static;/*문서의 흐름에 따라 위치, 위치값 안먹힘*/ 
        display:block; width:100%;
        height:auto;
        padding-top:70px; } 
    
.total_list > li {display:block;
                position:static;
                text-align:center;
                margin-bottom:35px;}

.totalMitem {font-size:25px;}
.totalMitem:hover {border-bottom:2px solid transparent }
.totalMitem.active {border-bottom-color:#fff;}
.totalMitem.active + .totalSubitem_w {display:block;}

.totalSubitem_w {display:none;
                padding-top:0; }
.totalSubitem_list {padding-top:25px;}
.totalSubitem {font-size:16px;}
    
.btn_totalClose_w {width:20%; height:55px;}
.btn_totalClose {padding-left:0;
                background:#fff; }
.btn_totalClose_in {display:none;}
.btn_totalClose:before, .btn_totalClose:after {width:28px;
                                                left:50%; top:27px;
                                                margin-left:-14px;
                                                background:#111;}

.total_address_w {bottom:10px;
                    text-align:center;}
.total_address_w > h2 {margin-bottom:10px;}
.total_address_list {display:block;}
.address {display:none;}


/********  fullpage   *********/
#s1 {}
.s1_w { margin:0 30px; }
.s1_in {}
.s1_main {font-size:35px;
            font-family: 'Andada Pro', serif;
            font-weight:bold;
            line-height:1.2;
            transition:1200ms; }
.s1_main span { font-size:45px; display:block;}
.s1_sub { font-size:16px; margin-top:20px; transition:1200ms; }


#s2 { }
.s2_bg {bottom:auto;
        width:100%; height:367px;}
.s2_w {margin:60px 30px;}
.s2_title {max-width:210px;}
.s2_title_sub {font-size:25px;
                margin:10px 0;}
.s2_img {position:static; /* position:relative의 위치값을 무시한다 */
        margin-top:20px;
        width:50%; height:auto;
        display:block;}
.s2_cont {margin-top:30px;}
.s2_item_title {font-size:16px;}
.s2_item_cont {font-size:14px;
                margin-top:15px;
                font-weight:200;}

.s2_list { display:flex; flex-wrap:wrap;}
.s2_list > li {display:block; width:50%;}

.s2_item {margin-right:0;
            text-align:center;}
.s2_item::before { display:inline-block; content:'';
                        width:70px; height:70px;
                        background:url('../img/mc_eff_m.png') no-repeat 0 0/cover; }
.s2_item01::before { background-position: 0 0px;}
.s2_item02::before { background-position: 0 -70px; }
.s2_item03::before { background-position: 0 -140px; }
.s2_item04::before { background-position: 0 -210px; }

.s2_item_spec {margin-top:10px;}
.s2_more_w {margin-top:30px;}
.s2_more {padding-right:0px;}
.s2_more:after {top:15px; right:-40px;
                width:25px; height:25px;
                border-radius: 50%;
                background:#ced4d6 url('../img/linkgo_allow.png') no-repeat 50% 50%/60%;}




#s3 { background:url('../img/mc_geda_bg_m.png') no-repeat 50% 50%/cover;}
.s3_w { margin:0 30px; }
.s3_title { font-size:25px; }
.s3_main { font-size:45px; margin-top:20px;}

.s3_desc { margin-top:30px; }
.s3_cont { margin-bottom:25px;}
.s3_item_con { font-size:17px; }
.s3_item_con.type2 { font-size:14px; }
.s3_item_title { font-size:24px; margin-bottom: 10px;}

.s3_btns { margin-top:50px;}
.s3_btns a { padding:5px 15px 7px;
            margin:0 10px 10px 0;}
.s3_btns span { font-size:14px; }
.s3_btns span:before { width:20px; }

#arrow { bottom:-20px; right:0px;  }
.prevS, .nextS {transform:scale(0.7);
                margin-bottom:20px;}





}














@media (max-width:767px){
.s2_img {width:100%;}


}